#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
##	octopus Heated Bed
heater_pin: PA1
sensor_pin: PF3 # TB
sensor_type: Generic 3950

##	Adjust Max Power so your heater doesn't warp your bed
max_power: 0.6
min_temp: 0
max_temp: 130
